<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindrome Checker</title>
</head>
<body>
    <h2>Palindrome Checker</h2>
    <form method="post">
        <label for="input_text">Masukkan kata atau kalimat:</label><br>
        <input type="text" id="input_text" name="input_text" required><br><br>
        <button type="submit">Check</button>
    </form>
    <br>

    {% if palindrome_result is not none %}
        {% if palindrome_result %}
            <p>Input "{{ request.form.input_text }}" adalah palindrome.</p>
        {% else %}
            <p>Input "{{ request.form.input_text }}" bukan palindrome.</p>
        {% endif %}
    {% endif %}
</body>
</html>
